@font-face {
  font-family: "iconfont"; /* Project id 2366715 */
  src: url('//at.alicdn.com/t/font_2366715_zri2ydtbj.woff2?t=1632368077295') format('woff2'),
  url('//at.alicdn.com/t/font_2366715_zri2ydtbj.woff?t=1632368077295') format('woff'),
  url('//at.alicdn.com/t/font_2366715_zri2ydtbj.ttf?t=1632368077295') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e646";
}

.icon-icon-test1:before {
  content: "\e64f";
}

.icon-icon-test2:before {
  content: "\e65e";
}
