@font-face {
  font-family: "iconfont"; /* Project id 2260306 */
  src: url('//at.alicdn.com/t/font_2260306_59nswt7urlk.woff2?t=1630302335550') format('woff2'),
  url('//at.alicdn.com/t/font_2260306_59nswt7urlk.woff?t=1630302335550') format('woff'),
  url('//at.alicdn.com/t/font_2260306_59nswt7urlk.ttf?t=1630302335550') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brightness:before {
  content: "\e698";
}

.icon-refresh:before {
  content: "\e6a2";
}

.icon-queenmirror:before {
  content: "\e6e3";
}

.icon-cecurity-protection:before {
  content: "\e749";
}

.icon-deviceoff:before {
  content: "\e6e7";
}

.icon-deviceon:before {
  content: "\e6e8";
}

.icon-getup:before {
  content: "\e6ea";
}

.icon-housecleaning:before {
  content: "\e6eb";
}

.icon-insurance:before {
  content: "\e772";
}

.icon-close:before {
  content: "\e748";
}

.icon-etrical-equipm:before {
  content: "\e74f";
}

.icon-filter:before {
  content: "\e751";
}

.icon-loading:before {
  content: "\e758";
}

.icon-lights:before {
  content: "\e75c";
}

.icon-switch:before {
  content: "\e768";
}

.icon-Daytimemode:before {
  content: "\e771";
}

.icon-quick:before {
  content: "\e7a3";
}

.icon-camera:before {
  content: "\e7b5";
}

.icon-filling:before {
  content: "\e7ce";
}

.icon-block:before {
  content: "\e7de";
}

.icon-yidatong:before {
  content: "\e7c9";
}

.icon-order:before {
  content: "\e7b4";
}

.icon-copyright:before {
  content: "\e77e";
}

.icon-swap-right:before {
  content: "\e8f1";
}

.icon-landtransportation:before {
  content: "\e774";
}

.icon-listing-content:before {
  content: "\e756";
}

.icon-logistics-icon:before {
  content: "\e757";
}

.icon-packaging:before {
  content: "\e75b";
}

.icon-aviation:before {
  content: "\e770";
}

.icon-mobile-phone:before {
  content: "\e75a";
}

.icon-trust:before {
  content: "\e76a";
}

.icon-vip:before {
  content: "\e773";
}

.icon-feed-logo:before {
  content: "\e7ad";
}

.icon-shangchuanbeiandanzheng:before {
  content: "\e7c4";
}

.icon-tongguanshuju:before {
  content: "\e7c5";
}

.icon-xinwaizongyewu:before {
  content: "\e7c8";
}

.icon-becomeagoldsupplier:before {
  content: "\e7d4";
}

.icon-vehivles:before {
  content: "\e76c";
}

.icon-category:before {
  content: "\e747";
}

.icon-upload:before {
  content: "\e76b";
}

.icon-tuxing:before {
  content: "\e61f";
}

.icon-all:before {
  content: "\e743";
}

.icon-scanning:before {
  content: "\e762";
}

.icon-comments:before {
  content: "\e7b3";
}

.icon-Newuserzone:before {
  content: "\e759";
}

.icon-viewlist:before {
  content: "\e76d";
}

.icon-toy:before {
  content: "\e76e";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-account:before {
  content: "\e7b2";
}

.icon-dongtai:before {
  content: "\e7c2";
}
