.v-card {
  border-radius: 12rpx;
  background-color: @bg-color;
  overflow: hidden;
  color: @white;
  transition: 0.3s;

  &--header {
    position: relative;
    padding: 32rpx;
    box-sizing: border-box;
    font-size: 36rpx;

    &::after {
      content: ' ';
      position: absolute;
      left: 32rpx;
      right: 32rpx;
      bottom: 0;
      border-bottom: 1rpx solid rgb(255 255 255 / 40%);
    }
  }

  &--body {
    padding: 32rpx;
  }
}
