@import "var";
@import 'unit';
@import 'tap';
@import 'vant-ui';
@import '../fonts/iconfont.css';

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  line-height: 1.5715;
  font-size: 14px;
  color: @text;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #f4f4f4;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}

.page-wrapper {
  padding: 0 10px;

  &.padded {
    padding: 10px;
  }
}

.cell-group-title {
  padding: 10px 15px 6px;
  color: #999;
  font-size: 14px;
}

.btn-wrapper {
  width: 100%;
  background-color: #fff;

  &.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
  }

  &.padded {
    padding: 16px;
  }

  &.padded-mini {
    padding: 8px 16px;
  }

  &.tool-bar {
    background-color: #fff;
    padding: 8px;
  }

  van-button + van-button {
    margin-left: 8px;
  }
}
