@import './var.less';

.flex {
  display: flex;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 500;
}

.text-text {
  color: @text;
}

.text-l {
  color: @text-l;
}

.text-ll {
  color: @text-ll;
}

.text-lll {
  color: @text-lll;
}

.text-primary {
  color: @primary;
}

.text-success {
  color: @success;
}

.text-danger {
  color: @danger;
}

.text-warning {
  color: @warning;
}

.text-default {
  color: @default;
}

.box-shadow {
  border-radius: 4px;

  &.base {
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
  }

  &.light {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }

  &.showad-1-down {
    box-shadow: @shadow-1-down;
  }

  &.showad-2-down {
    box-shadow: @shadow-2-down;
  }

  &.showad-3-down {
    box-shadow: @shadow-3-down;
  }
}

.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: @primary;
  color: #fff;
}

.bg-success {
  background-color: @success;
  color: #fff;
}

.bg-danger {
  background-color: @danger;
  color: #fff;
}

.bg-warning {
  background-color: @warning;
  color: #fff;
}

.bg-default {
  background-color: @default;
  color: #fff;
}

.reset-button {
  padding: 0;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
}
