@import 'unit.scss';
@import 'tap.scss';
@import '../fonts/iconfont.scss';

body,
page {
  font-family: PingFangSC-Medium, 'PingFang SC';
  line-height: 1.5715;
  font-size: $font14;
  color: $text;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #f2f3f5;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}

label {
  font-weight: 400;
}

html,
page {
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
}

html,
body,
page {
  min-height: 100vh;
  height: auto;
}

#app {
  min-height: 100vh;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.block {
  position: relative;
  background-color: #181818;
  padding: 36rpx;
}

.tools {
  button {
    flex: 1;
  }

  button + button {
    margin-left: 32rpx;
  }
}

.button--default {
  height: 84rpx !important;
  line-height: 84rpx !important;
  color: $white !important;
  border: 1rpx solid rgb(255 255 255 / 60%) !important;
  background-color: transparent !important;
}

.button--primary {
  height: 84rpx !important;
  line-height: 84rpx !important;
  color: #492219 !important;
  font-weight: 500;
  background: linear-gradient(138deg, #fce8d0 0%, #fed5a7 100%) !important;
}
