/* color */
$black: #000;
$white: #fff;
$bg-color: #181818;
$primary: #74a5e7;
$success: #b8cb50;
$danger: #ff8462;
$warning: #fab646;
$default: #baa27a;

/* text */
$text: #111827;
$text-l: #4b5563;
$text-ll: #6b7280;
$text-lll: #9ca3af;

/* font */
$font10: 20rpx;
$font12: 24rpx;
$font14: 28rpx;
$font16: 32rpx;
$font20: 40rpx;
$font24: 48rpx;
$font30: 60rpx;
$font38: 76rpx;
$font46: 92rpx;
$font56: 112rpx;
$font68: 136rpx;

/* font-weight */
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

/* gutter */
$gutter-64: 128rpx;
$gutter-40: 80rpx;
$gutter-24: 48rpx;
$gutter-16: 32rpx;
$gutter-4: 8rpx;

/* shadow $antd4.0 https://ant.design/docs/spec/shadow-cn */
$shadow-1-down: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0px rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

$shadow-2-down: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0px rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

$shadow-3-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
  0 9px 28px 0px rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
