{{#if template}}
<template>
  <div>{{ properCase name }}</div>
</template>
{{/if}}

{{#if script}}
<script>
  export default {
    name: '{{ properCase name }}',
  }
</script>
{{/if}}

{{#if style}}
<style>

</style>
{{/if}}
